*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avaneonz';
    src: url('../fonts/Avaneonz.ttf') format('truetype');

  font-family: 'Naive Deco Sans Double';
  src: url('../fonts/naive-deco-sans-double.otf') format('opentype');

}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #001E36;
}
.confirmation-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    animation: slideIn 0.5s ease;
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 20px;
}

img {
    margin-bottom: 20px;
    height: 100px;
}

button {
    padding: 10px 20px;
    background-color: #CFA32A;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button a {
    text-decoration: none;
    color: #fff;
}

button:hover {
    background-color: #000000;
}