*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Avaneonz';
    src: url('../fonts/Avaneonz.ttf') format('truetype');

  font-family: 'Naive Deco Sans Double';
  src: url('../fonts/naive-deco-sans-double.otf') format('opentype');

}

body {
    margin: 0;
    padding: 0;
}


main {
    padding: 20px;
}

#form-section {
    max-width: 600px;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #000;
}


/* navbar */

nav{
    display: flex;
    height: 80px;
    width: 100%;
    background: #001E36;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    flex-wrap: wrap;
  }

  nav .logo{
    color: #fff;
    font-size: 26px;
    font-weight: 600;
    font-family: 'Naive Deco Sans Double';
  }

  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    font-family: "Poppins", sans-serif;
  }
  nav ul li{
    margin: 0 5px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #fff;
    background: #cfa32a;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #001E36;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: #cfa32a;
    }
    
  }
  .content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: -1;
    width: 100%;
    padding: 0 30px;
    color: #1b1b1b;
  }
  .content div{
    font-size: 40px;
    font-weight: 700;
  }

@media screen and (max-width: 768px){
  .logo{
    font-size: 24px;
  }
}

/* banner */

.banner {
    background-image: url('../image/banner.png');
    background-size: cover;
    background-position: center;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    opacity: 1.0;
}

.banner h1 {
    font-size: 50px;
    color: rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.banner p {
    font-size: 20px;
    color: #e7bd03;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.banner h1, .banner p {
    margin-bottom: 20px;
}

.banner button {
    background-color: #cfa32a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
    transition: calc();
}

.banner button:hover {
    background-color: #000000;
}

@media screen and (max-width: 768px) {
    .banner h1 {
        font-size: 25px;
    }

    .banner p {
        font-size: 16px;
    }

    .banner button {
        font-size: 16px;
    }
  
}

/* services */

/* Estilos para o layout responsivo */
.card-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    display: flex;
}

.serviços {
    background-color: #d4d4d4;
    padding: 50px 0;
}

.title {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    padding: 20px;
}

.card {
    width: 300px;
    background-color: #001E36;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.card img {
    height: 60px;
    margin: 15px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    margin-top: -30px;
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;    
}

.card-content p {
    color: #ffbb00;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 768px) {
    .card {
        width: 100%;
    }
}

/* Sobre Nós */

.about {
  background-color: #f4f4f4;
  padding: 50px 0;
  margin-top: -40px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 50px;
}

.about-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlee {
  font-size: 3em;
  color: #333;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  margin: 20px;
}

.about-content img {
  max-width: 370px;
  height: auto;
  margin-bottom: 20px;
  background-color: #001E36;
  border-radius: 20px;
}

.about-content p {
  margin: 20px ;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.1em;
}


@media screen and (min-width: 768px ) {
  .about-content {
      flex-direction: row;
      justify-content: space-between;
      align-items: flex-start;
  }

  .about-content img {
      margin-right: 20px;
      margin-bottom: 0;
  }

  .about-content p {
      max-width: 60%;
  }

  


}



/* FOOTER */
footer{
  background: #001E36;
  width: 100vw;
  font-family: "Open Sans";
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
  font-family: 'Naive Deco Sans Double';
}

.footer-content img{
  width: 90px;
}

.footer-content p{
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
}
.socials a i{
  font-size: 1.1rem;
  transition: color .4s ease;

}
.socials a:hover i{
  color: #cfa32a;
}

.footer-bottom{
  background: #cfa32a;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}
.footer-bottom p{
  color: #000;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

